[2014-09-30 11:07] matt-oakes opened #1 "Parsing issue with multiple links"
I'm using your library and I came across some markdown that crashed the parser:

[code]

What was happening was the first link was being matched but the regex was too greedy and also matched all the text in between the start of the first link and the end of the last link. When the URL was parsed it was obviously invalid and hance `url` was `nil`. Once we attempted to add the attribute with the `ni

[2014-10-03 20:59] #1 closed, assigned to nobody

[2014-10-14 18:19] marcopompei opened #3 "Parsing issue with links in the end of the string"
The parser crashes when there's a link in the end of the string, like in `@"Hello\n Men att [Pär](http://www.google.com/)"`.

I just wrote a test case and I'm working on a fix.

[2014-10-14 20:56] #3 closed, assigned to nobody

[2014-11-17 15:07] groomsy opened #10 "Release 1.0.10 with Paragraph Formatting Support"
Would be wonderful if you have the time.

Thanks!

groomsy

[2014-11-17 17:08] #10 closed, assigned to nobody

[2015-01-07 18:42] tgaul opened #12 "Incorrect handling of URL with parentheses in the title text"
I found that when Markdown contains something like this:
   ` [Something something (something)](http://someurl.com)`

The processing code finds the first open paren rather than the last one. A simple fix for this I made in my copy was to change line 195 of TSMarkdownParser.m to use `NSBackwardsSearch` when doing the search for the open parenthesis character.

[2015-02-05 02:07] postmechanical commented on #12
Ditto. Just ran into this issue as well.

[2015-02-05 14:15] #12 closed

[2015-04-20 17:30] sdupuis1 opened #14 "does not parse bullets very well"
Seems to have issues with spacing
Ex. does not work:
Draw a large face of a clock and place in the numbers \n\n  + position the hands for 5 minutes after 11 o'clock \n\n  + On your clock, label \"L\" for the long hand and \"S\" for the short hand

removing the spaces before the + makes it work. P.S. this should be some text followed by 2 bullet points.

Also had issues when using a * for bullet po

[2015-04-21 05:25] laptobbe commented on #14
Hi @sdupuis1

I don't fully understand your problem from your description. Could you share an example of the markdown you are trying to parse and what you expect the result to be.

[2015-04-21 19:14] sdupuis1 commented on #14
Draw a large face of a clock and place in the numbers \n\n + position the hands for 5 minutes after 11 o'clock \n\n + On your clock, label \"L\" for the long hand and \"S\" for the short hand

[2015-04-21 19:16] sdupuis1 commented on #14
The below markdown works(note the difference):
Draw a large face of a clock and place in the numbers \n\n+ position the hands for 5 minutes after 11 o'clock \n\n+ On your clock, label \"L\" for the long hand and \"S\" for the short hand

[2015-04-21 19:21] sdupuis1 opened #15 "_ in image name does not work"
![test](ic_arrow_white_left.png)

the above image filename does not work, the _ is recognized as a metacharacter and stripped out.

[2015-04-21 19:22] sdupuis1 commented on #15
ic_arrow_white_left.png

[2015-04-21 19:29] laptobbe commented on #14
I see the '+' has to be the first char on the line for a list to work. Is this a problem for you? This is usually how you define a list. If you have a suggestion on an improvement on the regex I am happy to merge it. Unfortunately I don't have time to look into this problem right now.

[2015-04-21 19:51] sdupuis1 commented on #14
Add it to  your list :)  The reason you would want this is if the markdown had a list, then sublist. This is typically done with some space indentation. Thx for at least looking :) I think I may fork you project and add some things.

[2015-04-21 19:54] sdupuis1 commented on #15
I have solved this quickly by moving the image addImageParsingWithImageFormattingBlock to the top of the standardParser parsingPairs NSArray. The proper solution would be to fix the regular expression.

[2015-04-22 16:13] sdupuis1 opened #16 "feature request add remote url to images"
Here is the code:
 if(image == nil)
        {
            NSURL *url = [NSURL URLWithString:imagePath];
            NSData *imageData = [NSData dataWithContentsOfURL:url];
            image = [UIImage imageWithData:imageData];
        }

add the above code in the addImageParsingWithImageFormattingBlock after
 UIImage *image = [UIImage imageNamed:imagePath];

Basically this checks for the remote ur

[2015-04-23 09:11] laptobbe commented on #16
I like the feature but I have a different take on it. What do you think about having the block for the image parsing returning the image? So what I am getting at is let the user transform a image name to a image. That way we don't have to support all the ways you could get the image data.

[2015-04-23 09:13] laptobbe commented on #15
Do you know what parsing block is interfering with the image parsing?

[2015-04-23 16:21] sdupuis1 commented on #16
Not 100% sure what you mean, you want to return the imagePath? not the image.Not sure how you get an uiimage with a remote url without trying to retrieve that data with the imagePath(url). 
just need url capability,so i think as is is good enough. currently if it fails, it will just substitute the image name anyways.

 but on a different note, would be more interested in returning the image attach

[2015-04-23 16:22] sdupuis1 commented on #15
No i didn't track it down exactly, but I suspect the emphasis would be the culprit as it uses _ .

     On Thursday, April 23, 2015 2:13 AM, Tobias Sundstrand <notifications@github.com> wrote:

 Do you know what parsing block is interfering with the image parsing?—
Reply to this email directly or view it on GitHub.

[2015-04-23 18:51] sdupuis1 commented on #16
Also,I have added a custom tag -> <- for entering and added a line spacing feature, but didn't push to repo as these features are outside the spec and would be considered extensions. Did you want me to add them to the package?P.S. love the capability of adding custom tags.
I may have to add escaping i.e \ character.

     On Thursday, April 23, 2015 9:21 AM, Serge Dupuis <sdupuis1_ca@yahoo.ca> wro

[2015-08-05 02:04] Coeur opened #20 "Feature request: support for an escaping sequence"
Thank you for bringing customised Markdown to iOS.

Can you also add support to partially disable Markdown interpretation somehow? Suggested way of doing it would be by using an escape sequence, like '\x' (C-like), '&x;' (xml-like) or '%x' (url-like). I personally recommend the first option, using a backslash, as we do not want to conflict with HTML support.

I will quote the example from http://g

[2015-08-09 14:12] laptobbe commented on #20
This sounds really useful!

I will look into this when I have some time over. My spontaneous thought was to add a 'not' condition where we check for special characters. This would mean updating every regex though.

An alternate way would be to parse the escaped characters first and replace them with a placeholders not containing the special character and then after all the parsing is done replace

[2015-08-09 17:13] Coeur commented on #20
Well, I'm not an expert at lexicographic or grammar parsing.

There are multiple possible escaping mechanisms we could find:
* `\x` is Shell or C style
* `\uxxxx` is Unicode style
* `&xx;` is XML style
* `%xx` is URL style
* a Base64 style one can be imagined
* ...

But my believe is that the C-style one is the one that fits Markdown best, as it is the only one that *doesn't change the encoding*,

[2015-08-09 17:57] laptobbe commented on #20
## Option A:

I don't like the idea of supporting two different sets of regexes. This will get confusing when you add your own rules as you say, it will also be cumbersome when adding new parsing rules to the defaultParser. I also agree that we should use the C-style escaping. You state very clearly that we should keep it as an optional feature. I am thinking that it would be a lot cleaner to let

[2015-08-09 21:00] Coeur commented on #20
You mean "unicode" placeholder.

We don't need 2 parsing rules per character: we can do it commonly with something like:
* one parsing rule to match all C escape `\\(.)`
* one parsing rule to match all Unicode escape `\\u([0-9a-z]{4})`

The cases where parsing would be broken would be the one where someone already implemented custom markdown where backslash has a meaning.

[2015-08-17 18:29] Coeur commented on #20
https://github.com/laptobbe/TSMarkdownParser/pull/21

[2015-09-09 13:56] baldurh commented on #15
This is caused by the `TSMarkdownEmRegex` pattern and only happens if there are two or more underscores in the filename. By parsing the image before everything else, this won’t happen. #23 "fixes" this until someone has the time to dig into that pattern.

![screen shot 2015-09-09 at 13 52 03](https://cloud.githubusercontent.com/assets/1823617/9763648/3bd2e57e-56fa-11e5-8079-a49c2c8c923d.png)
(Had

[2015-09-16 14:11] Coeur opened #24 "Em regex fails for 1 character words"
Current Em regex is:

    static NSString *const TSMarkdownEmRegex        = @"(?<=[^\\*_]|^)(\\*|_)[^\\*_]+[^\\*_\\n]+(\\*|_)(?=[^\\*_]|$)";

But it fails for `"*a* nice *boy*"`:

    UIFont *font = [UIFont italicSystemFontOfSize:12];
    NSAttributedString *attributedString = [self.standardParser attributedStringFromMarkdown:@"*a* nice *boy*"];
    XCTAssertNotEqualObjects([attributedString attri

[2015-09-17 03:27] Coeur commented on #24
I get that current EmRegex was an attempt at being compatible with ListRegex.

[2015-09-17 03:29] Coeur opened #25 "Feature request: attributedString to markdown"
Complex feature, but it would be nice to be able to convert an attributedString back to Markdown.

[2015-09-17 04:22] Coeur commented on #24
Well, not easy to satisfy both List and Em. Let's see if we can get close to:
* http://spec.commonmark.org/
* https://github.com/
* https://stackoverflow.com/

This means test cases like:
* `*a* b *c*`
* `* a* b *c*`
* `*a b *c*`
* `* a b *c*`

[2015-09-27 20:29] #15 closed

[2015-09-27 21:21] Coeur commented on #24
Fixed in two steps:
1. using correct parsing precedences [211e0d7]
2. using simplified regex [39513f4]

[2015-09-27 21:21] #24 closed

[2015-09-27 22:06] Coeur opened #26 "Feature request: Mandatory space after a Header/List markup"
Let's assume we want to be able to generate both examples below in Markdown:

Example 1
 *this* is a star '*'

Example 2
* this is a star '*'

The initial asterisk will need to be interpreted differently. This is solved by http://spec.commonmark.org/ by requiring the use of a space if you want a list item:

Example 1 in Markdown
`*this* is a star '*'`

Example 2 in Markdown
`* this is a star '*'`

[2015-09-27 22:12] Coeur commented on #14
Note that 4 spaces before a '+' sign could be interpreted as a code block in some popular Markdown implementations. So implementing this feature should not allow for an arbitrary number of spaces.

[2015-09-27 23:01] Coeur commented on #14
Sublists are something contextual and might be tricky to parse using regex. See https://en.wikipedia.org/wiki/Chomsky_hierarchy. But then, some NSRegularExpressionAnchorsMatchLines together with look-ahead syntax might help to achieve it.

But I'm concerned with the ambiguity of sublist and code block. I would prefer a multi-sign syntax (like mediaWiki) to a multi-space syntax (like commonmark).

[2015-09-27 23:14] Coeur commented on #26
I just noticed that @kompozer made a recent attempt for it: https://github.com/kompozer/TSMarkdownParser/commit/f21d8ecd9517f214c5db3a34d31fa111499d614f

[2015-11-19 14:28] danmademe opened #28 "In Simulator the markdown parser has a max character limit"
Using swift

let markdownParser = TSMarkdownParser.standardParser()
markdownParser.attributedStringFromMarkdown(markdownString)

if the markdownString is too long, in simulator it doesn't parse the markdown... this isn't critical but I'm wondering if this is a arch issue

[2015-11-19 14:30] danmademe commented on #28
for more information heres the full class i have made, I have extended NSAttributedString to include a markdown parsing function

[code]

[2015-11-20 08:45] Coeur commented on #28
May you specify which simulator/ios/xcode and the approximate length of string?

[2015-11-20 10:35] danmademe commented on #28
Sim Versions
8.1, 8.2, 8.3, 9.0, and 9.1

Phones
5, 5s, 6, 6s (also the plusses)

Latest Xcode (7.1.1)

and about 18500characters...

[2016-01-04 20:50] ldiqual opened #30 "URLs containing # are invalid"
Because of https://github.com/laptobbe/TSMarkdownParser/pull/22, the following code:

[code]

Generates the following url:

[code]

Which resolves to a different path than `path`, leading to an invalid URL.

Since strings are converted to NSURL behind the hood, maybe it would be better to ensure that a valid URL string is passed -- and potentially show a warning -- instead of automatically alter t

[2016-01-05 10:44] Coeur commented on #30
Good point, will investigate.

[2016-01-06 03:11] Coeur commented on #30
Fixed on Master.

[2016-01-06 03:11] #30 closed

[2016-01-06 18:59] ldiqual commented on #30
@Coeur Thank you so much for the quick fix! Would you mind pushing 0.19 to the cocoapods trunk? Thank you :)

[2016-01-06 21:41] Coeur commented on #30
I do not have the access for this. We will need the @laptobbe to do it.

[2016-01-06 21:44] Coeur commented on #30
In the mean time, I think you can write this in your Podfile to get the latest:

    pod 'TSMarkdownParser', :git => 'https://github.com/laptobbe/TSMarkdownParser.git'

[2016-01-07 10:50] laptobbe commented on #30
@ldiqual @Coeur I have pushed the new version now. Great work!

[2016-01-20 13:17] kevinrenskers opened #31 "How to support plain urls (without markdown syntax)?"
When the text has `[links like this](http://example.com)` everything works fine.

But in the case the text `is just a link: http://example.com` then the link isn't detected, like it would be on GitHub for example. Is this easy to add?

[2016-01-20 14:14] kevinrenskers commented on #31
I am now combining this project with TTTAttributedLabel to handle the inline kind of links, and also for the actual click handling. Feels a bit overpowered but it does the job.

I'd much rather have TSMarkdownParser handle all link detection though, then I only need a lighter weight UILabel that handles clicks on links (NSLinkAttributeName). Any suggestions for such a thing? :)

[2016-01-20 15:49] Coeur commented on #31
TTTAttributedLabel is roughly doing it like this:

    NSDataDetector *dataDetector = [NSDataDetector dataDetectorWithTypes:NSTextCheckingTypeLink error:nil];
    NSArray *results = [dataDetector matchesInString:self.attributedText.string options:0 range:NSMakeRange(0, self.attributedText.length)];
    NSMutableAttributedString *mutableAttributedString = [self.attributedText mutableCopy];
    for

[2016-01-22 14:08] darrarski opened #32 "Multiple new line characters are ignored"
This markdown:
[code]
will generate correct output:

However, when we use `\n\n` instead of `\n`:
[code]
the output will be incorrect:

I tried looking at source code and propose some fix or workaround, but I am not sure where `TSMarkdownParser` is generating `NSAttributedString` paragraphs from markdown.

[2016-01-22 17:54] darrarski commented on #32
As a temporary workaround, I created `NSString` category that removes duplicated new line characters from string:

`NSString+StringByRemovingDuplicatedNewLineCharacters.h`:
[code]

`NSString+StringByRemovingDuplicatedNewLineCharacters.m`:
[code]

I am using this category to prepare markdown string before passing it to `TSMarkdownParser`.

[2016-01-24 03:19] Coeur commented on #32
Hello. Thanks for reporting. I'll look into it today.

[2016-01-24 03:20] Coeur commented on #31
Let's include the feature for 1.0. I'm working on it today.

[2016-01-24 07:08] Coeur commented on #32
I've made this test:

    - (void)testDefaultH1DoubleNextLine {
        NSAttributedString *attributedString = [self.standardParser attributedStringFromMarkdown:@"# Header\n\nParagraph"];
        UIFont *font = [attributedString attribute:NSFontAttributeName atIndex:12 effectiveRange:NULL];
        UIFont *expectedFont = [UIFont systemFontOfSize:12];
        XCTAssertNotNil(font);
        XCTAsser

[2016-01-24 09:49] Coeur commented on #32
I've added a visual Example project with a ViewController on Master branch. And I can't reproduce the issue visually.
![image](http://i.imgur.com/mzB0jnN.png)

[2016-01-24 14:43] Coeur commented on #26
I've added the feature to branch 2.0.

[2016-01-24 14:43] #26 closed

[2016-01-24 14:44] Coeur commented on #20
I've added the feature to branch 2.0.

[2016-01-24 14:44] #20 closed

[2016-01-25 11:18] darrarski commented on #32
You are right. The problem was not connected to `TSMarkdownParser` itself, but it was a result of my configuration.
I am not using `[TSMarkdownParser standardParser]`, because I want to set up parsing style myself. I made a mistake, and called method `addHeaderParsingWithLevel:formattingBlock:` with level 0 (zero). This caused invalid formatting.
Sorry I bothered you.

[2016-01-25 11:18] #32 closed

[2016-01-25 11:30] Coeur commented on #32
No problem.
To tell the truth, I don't use standardParser either. ;)

[2016-02-14 15:52] mantas opened #38 "Bold at the beginning of the line is converted to list symbol"
If a string starts with an emphasized or strong text, it's converted to list symbol. E.g. "\*bold\* text" ends up as "• bold* text"

It looks like moving addListParsingWithFormattingBlock to the very end of standardParser method fixes this. I'm not very familiar with markdown, so I'm not sure if it doesn't introduce some new issues.

[2016-02-14 17:00] Coeur commented on #38
I think you are using TSMarkdownParser 1.x.
Could you give a try to TSMarkdownParser 2.0 using:
    pod 'TSMarkdownParser', :git => 'https://github.com/laptobbe/TSMarkdownParser.git', :tag => '2.0.0'

[2016-02-14 17:11] Coeur commented on #38
Note that I recommend TSMarkdownParser 2.0 because the new defaultParser will, as a context simplification, require a space after `*` to make it a list item.

It is still possible to define rules that would support both `*some* text` as bold and `*some * text` as a list item and a star, but I dislike that a distant symbol from the beginning of the line affects the whole line rendering.

[2016-02-14 17:24] mantas commented on #38
Yep, it works fine with the TSMarkdownParser 2.0. I must have had cached version from Cocoapods...

I'm not using the list tag at all in this app, so this is not a problem for me. Even if I would, * + space seems more than fair requirement.

By the way, awesome library. Thank you!

[2016-02-14 17:24] #38 closed

[2016-03-03 19:24] jakanter opened #40 "Carthage Framework Not Working"
I added TSMarkdownParser to my project using Carthage.  The problem is that I'm getting "**Could not build module TSMarkdownParser**" when I try to include it.  The issue it's giving is that **TSMarkdownParser.h** has **TSBaseParser.h** as an import but the header file is not publicly available.

The error it gives there is "**TSBaseParser.h file not found**"

It assumes that this isn't there beca

[2016-03-07 01:34] Coeur commented on #40
Thank you. I will look into in during the week. Or you can submit a pull request.

[2016-03-08 02:47] ldiqual opened #41 "Add a changelog"
I couldn't find a way to know what's new in 1.0.20 without looking at the diff (which is often verbose and not easy to understand for people who don't know the codebase).

Would you mind adding a changelog or add tag descriptions for each release?

[2016-03-08 12:36] Coeur commented on #41
Hello ldiqual and thank you for raising this issue. I will attempt to add a changelog for next commits. But please note those pieces of information:
* branch 1.x is now deprecated
* branch 2.x is now the active branch
* I'm working on a branch 3.x ^_^ but I might release it on a different repository/name if I can't get news from the pod owner.

[2016-03-08 12:38] Coeur commented on #41
Also, I wrote at some point a page for migrating from 1.0 to 2.0:
https://github.com/laptobbe/TSMarkdownParser/wiki/1.0-to-2.0-migration

[2016-03-13 15:19] Coeur commented on #40
Should be fixed on master

[2016-03-18 16:47] SerenadeX opened #42 "Double formatting doesn't parse"
If you have both strong and emphasis on the same text, i.e.:

[code]

Then it should be able to parse it as follows:

Here is **some text that is both _bold and italic_**

But right now it parses it as

Here is **some text that is both** _bold and italic_

[2016-03-18 17:24] SerenadeX opened #43 "Escaped periods are not parsed"
If you have a markdown string with an escaped period i.e. `\.` it should parse it to a period:

This
\.

Not
\\.

There may be other issues with other escaped characters.

[2016-03-21 13:45] Coeur commented on #42
I think we do not support that because bold is one font, italic is another, but we have no rule to combine different fonts. The same issue applies regarding any combination of markdown rules.

[2016-03-21 13:59] Coeur commented on #43
Hello,
You need to use TSMarkdownParser 2.x to get this feature. I've tried it with the following test and it works:

- (void)testDefaultEscapeParsing {
    NSAttributedString *attributedString = [self.standardParser attributedStringFromMarkdown:@"Hello\\.\n"];
    XCTAssertEqualObjects(attributedString.string, @"Hello.\n");
}

[2016-03-21 16:14] SerenadeX commented on #42
I think it would be helpful to add in a bold and italic font i.e. `boldItalicFont` property.  That is how I am handling having that font in my app.

[2016-03-21 16:16] SerenadeX commented on #43
Presently 1.0.20 is the only version in CocoaPods.  Could we update the pod to use version 2.x?

[2016-03-22 01:46] Coeur commented on #43
Unfortunately I can't. But you can use
pod 'TSMarkdownParser', :git => 'https://github.com/laptobbe/TSMarkdownParser'

[2016-03-22 14:09] SerenadeX commented on #43
While that does work it would be nice not to have to do that, what holds us back from updating the version in CocoaPods?

[2016-03-24 10:07] Coeur commented on #43
No answer from the owner, @laptobbe.
If it persists for a few more weeks, I plan to release a new pod based on my fork (https://github.com/coeur/TSMarkdownParser) when I finish version 3.

[2016-03-25 00:04] phatmann commented on #42
:+1:

[2016-03-25 06:31] laptobbe commented on #43
Sry for being so late to respond. I would be happy to give you access to Cocoa Pods Antoine if you want to manage the releases. As you might have noticed I am preoccupied with other stuff.

24 mars 2016 kl. 11:07 skrev Antoine Cœur <notifications@github.com>:

No answer from the owner, @laptobbe.
If it persists for a few more weeks, I plan to release a new pod based on my fork (https://github.com/

[2016-03-25 11:10] Coeur commented on #43
Hi @laptobbe,

That would be great. I would release version 2.0 on CocoaPods if you allow me. :)

[2016-03-25 15:55] laptobbe commented on #43
Hi @Coeur,

I tried to add you but, pod trunk said there was no user with your email. Send me an email at tobias.sundstrand at gmail.com and we will solve that.

[2016-03-28 10:47] #40 closed

[2016-03-29 06:56] Coeur commented on #43
Thanks @laptobbe. TSMarkdownParser 2.0.1 is now available.

[2016-03-29 06:56] #43 closed

[2016-03-29 06:59] Coeur commented on #38
@mantas, please note that TSMarkdownParser 2.0.1 is now ofifically available on CocoaPods

[2016-03-29 07:00] Coeur commented on #31
@kevinrenskers, please note that TSMarkdownParser 2.0.1 is now ofifically available on CocoaPods

[2016-03-29 07:08] Coeur opened #44 "deprecation warning for tvOS 9.0"
But because we are trying to do some error handling here, we would need to manually decompose the string to be aware of the components of the URL to percent-escape.

[2016-03-29 08:40] Coeur commented on #41
https://github.com/laptobbe/TSMarkdownParser/releases/tag/2.0.2

[2016-03-29 08:40] #41 closed

[2016-03-29 08:58] Coeur commented on #42
Note that on OSX, NSFont have traits, so it's easier to combine them.

For iOS and UIFont, if we can't figure out how to combine them, then your suggestion of a `boldItalicFont` property is still complex to implement, as we need to make sure that it will be working for `_a **b** c_` and `**a _b_ c**`, and `***a b c***`. And it should be generic enough to easily allow additional rules with `~~` or

[2016-03-29 16:09] SerenadeX commented on #42
Ok we need to list out all of the use cases in the markdown.  The UIFont isn't a problem, we just need to get the font with a bold weight and an italic trait.  As I see these are the following use cases for double formatting:
[code]

These parse out (according to GitHub markdown) as follows:
_a **b** c_
*a __b__ c*
**a _b_ c**
__a *b* c__
***a b c***
___a b c___

Are there any other cases that I m

[2016-03-29 17:56] phatmann commented on #42
iOS has UIFontDescriptor so we should be able to combine fonts.

[2016-03-29 17:56] phatmann commented on #42
@SerenadeX: looks like you covered all the cases.

[2016-03-31 14:55] kusmi opened #45 "Links are always blue"
It does not matter what color I supply to _linkAttributes, the URL stays blue, e.g.

_linkAttributes = @{ NSForegroundColorAttributeName: [UIColor greenColor],
                         NSUnderlineStyleAttributeName: @(NSUnderlineStyleSingle) };

➔ Blue

[2016-03-31 15:18] kusmi commented on #45
mhh after further investigation it seems a bug in UILabel - other attributes get applied, just not this text color...

[2016-03-31 16:44] Coeur commented on #45
Can you try `@{ (NSString *)kCTForegroundColorAttributeName: [UIColor greenColor], NSUnderlineStyleAttributeName: @(NSUnderlineStyleSingle) }`?

[2016-03-31 16:48] kusmi commented on #45
I tried but it does not work. I only tried in Simulator...

[2016-03-31 16:49] Coeur commented on #45
A green link: https://upload.wikimedia.org/wikipedia/en/3/39/Wakerlink.jpg

[2016-04-03 15:17] Coeur opened #46 "CodeEscaping is conflicting with Escaping"
Standard parser has both CodeEscaping (with `) and Escaping (with \\), and current implementation makes them conflict with each other:
* parsing ``@"\\`*a*`"`` works as expected
* parsing ``@"`\\*a*`"`` doesn't work as expected

[2016-04-05 01:24] Coeur commented on #46
I'm thinking of using something close to the following regexp for CodeEscaping and using it before the Escaping rule:
 ```@"(?<!\\\\)(`+)(.*?[^`].*?)(\\1)(?!`)"```

[2016-04-05 01:38] Coeur commented on #46
Maybe that one supports all the cases:

    @"(?<!\\\\)(?:\\\\\\\\)*(`+)(.*?[^`].*?)(\\1)(?!`)"

[2016-04-09 08:10] Coeur commented on #46
Fixed in 2.0.3

[2016-04-09 08:10] #46 closed

[2016-04-10 04:42] Coeur commented on #40
@jakanter, I've made changes to the frameworks, like adding a module.modulemap. Could you try version 2.0.3 and tell me if Carthage is still working for you?

[2016-04-29 16:16] Coeur commented on #45
Could be a similar issue to https://github.com/TTTAttributedLabel/TTTAttributedLabel/issues/622

[2016-04-29 18:12] Coeur commented on #45
For *UILabel*, according to https://www.cocoanetics.com/2015/03/customizing-uilabel-hyperlinks/ you have no way to customize the attributes of a link. The workaround is to subclass UILabel with a lot of complex changes. You can give a try to https://github.com/Krelborn/KILabel.

For *UITextView*, the link color is controlled by the tintColor property.

For *NSTextView*, the link color is controlle

[2016-04-30 08:13] Coeur commented on #28
You would be welcome to provide a test case.

[2016-04-30 08:46] Coeur commented on #44
If someone wants to help, the goal is to recode `stringByAddingPercentEscapesUsingEncoding:` to work on a string which isn't recognized by `URLWithString:`

[2016-04-30 13:14] Coeur commented on #45
@kusmi I will provide a small workaround. But my guess is that you are not supporting clickable links anyway?

[2016-05-01 12:14] Coeur commented on #16
@sdupuis1, please give your thoughts on new method `- (void)addImageParsingWithLinkFormattingBlock:(TSMarkdownParserLinkFormattingBlock)formattingBlock;` from version 2.1.0.

[2016-05-01 12:53] Coeur commented on #45
@kusmi, please give a try to version 2.1.0 and parameter skipLinkAttribute.

[2016-05-01 12:53] #45 closed

[2016-05-02 15:30] Coeur opened #48 "Naming question for new classes"
For next major version, many pre-built parsers will be available. Which names would be best, @laptobbe ?

* TSStandardParser, TSGithubParser, TSStackOverflowParser, ...
* TSMStandardParser, TSMGithubParser, TSMStackOverflowParser, ...
* TSMarkdownStandardParser, TSMarkdownGithubParser, TSMarkdownStackOverflowParser, ...

[2016-05-02 15:34] Coeur commented on #42
@phatmann, thank you, I figured out how to do. But UIFontDescriptor is iOS7+, so I might be using CoreText to support iOS6.

[2016-05-02 15:41] Coeur commented on #42
@laptobbe, should we drop support for iOS 6 for TSMarkdownParser 3 for easier combining of rules?

[2016-05-02 16:40] laptobbe commented on #42
@Coeur I don't see any problem with dropping iOS 6 and using UIFontDescriptor. If anyone needs iOS 6 support we they could always send a pull request. What do you think?

[2016-05-02 16:45] laptobbe commented on #48
@Coeur I think the full verbose versions are the best, since you most likely will have the name autocompleted anyway.

[2016-05-02 17:46] phatmann commented on #42
:+1:

[2016-05-03 01:24] Coeur commented on #42
Good.

[2016-05-03 01:25] Coeur commented on #48
Good.

[2016-05-03 01:25] #48 closed

[2016-05-05 06:32] Coeur commented on #40
#49

[2016-05-10 16:20] #16 closed

[2016-05-10 16:26] Coeur commented on #42
Double formatting has been implemented in branch 3.x.
I still need:
* to write the tests for it
* discuss the implementation (code review)

[2016-05-16 20:05] phatmann commented on #42
Looks good so far. I would drop the iOS 6 support just to make testing easier.

[2016-05-17 01:42] nateirwin opened #50 "Apply NSParagraphStyleAttributeName to list items via listAttributes"
I'm trying to add consistent indentation to ordered and unordered list items coming down in a Markdown string. If I change the `defaultAttributes` property on the TSMarkdownParser instance,  adding an NSParagraphStyleAttributeName, the indentation settings work but are applied to all of the Markdown text. What I'm hoping to do is only apply the NSParagraphStyleAttributeName to the text that's asso

[2016-05-17 02:07] Coeur commented on #50
Hello @nateirwin, `defaultAttributes` is for the whole attributed string, and `listAttributes` is only for list items.

I haven't tried `NSParagraphStyleAttributeName` before, so I will make some tests tonight. But to make things obvious, you can try this in the mean time:

    parser.listAttributes = @[
        @{ NSForegroundColorAttributeName: [UIColor redColor] }
    ];

[2016-05-17 02:43] nateirwin commented on #50
Hey @Coeur, thanks for getting back to me.

Adding the code from your post does work correctly, so it definitely seems like there's something going on with `NSParagraphStyleAttributeName`. I'll try to dig in some more, but any help is much appreciated!

[2016-05-17 22:56] adamdahan opened #51 "Parsing is extremely fragile?"
I have a little snippet for you to test and I am curious to know if you have any insights about why the parsing breaks down so easily before I go in and try to fix it up.

This markdown below should render a simple while loop

            ``\nwhile (YES) {\n    printf(\"Help, I am stuck in an infinite loop!\\n\");\n}\n``

But it does not render using your parser. Interestingly enough though this d

[2016-05-18 03:00] Coeur commented on #51
Hello @adamdahan, and thanks for raising the issue.

I built the regex myself in an attempt to be compatible with Character Escaping. See #46 for what was the problem, and https://github.com/laptobbe/TSMarkdownParser/commit/437d9a98b1d908cc4bfbca734a7de3adf4680509#diff-842045870396c3236b1fad63acfe6264R140 for the solution (```@"(?<!\\\\)(?:\\\\\\\\)*+(`+)(.*?[^`].*?)(\\1)(?!`)";```).

In [branch 3

[2016-05-18 03:07] Coeur commented on #51
Maybe changing `options:(NSRegularExpressionOptions)0` to `options:NSRegularExpressionDotMatchesLineSeparators` is enough.

[2016-05-27 13:56] invliD opened #52 "tvOS broken due to unavailable font"
Commit da3aea3 introduced a bug that prevents TSMarkdownParser from working on tvOS. The font "Georgia-Italic", or Georgia in general, is not available, so tvOS apps crash when instantiating a `TSMarkdownParser`.

Specifically, `[UIFont fontWithName:]` returns `nil`, but `nil` cannot be the value in an `NSDictionary`.

[2016-05-30 01:54] Coeur commented on #52
Ah, sorry about that.
Will fix it tonight.

[2016-06-01 17:14] Coeur commented on #52
Any preference to replace Georgia? (note: the System font here is the one for iOS 9)
![available alternative fonts for Georgia](https://cloud.githubusercontent.com/assets/839992/15718636/028e26e8-285f-11e6-9487-f55ea8445f0c.png)

[2016-06-01 17:39] invliD commented on #52
I think System would be fine.

[2016-06-03 15:25] Coeur commented on #52
I'll go with italicSystemFont for quotes.
But Menlo isn't available for watchOS also...

[2016-06-04 02:29] #51 closed

[2016-06-04 02:29] #52 closed

[2016-06-04 02:46] Coeur commented on #50
@nateirwin, did you find a reason or a workaround?

[2016-06-06 11:24] Coeur opened #53 "Get image from a custom bundle"
Feature request: Get image from a custom bundle.

    [UIImage imageNamed:@"markdown" inBundle:[NSBundle bundleForClass:[self class]] compatibleWithTraitCollection:nil];

[2016-06-06 16:16] nateirwin commented on #50
Nope, no more progress on this. It isn't a show stopper for us, though it would be nice to be able to apply different styling to lists.

[2016-06-16 00:50] #53 closed

[2016-06-16 00:52] Coeur commented on #42
I'll close the issue as resolved, even if not released yet. Hopefully, 3.0 will be here soon.

[2016-06-16 00:52] #42 closed

[2016-06-20 12:24] invliD opened #56 "Reference-style links"
The parser currently does not support [reference-style links](https://daringfireball.net/projects/markdown/syntax#link). Is there any plan to support that syntax?

[2016-06-21 03:02] Coeur commented on #56
No, I do not have plan to support it in the near future, as it is not doable with regex. A grammar parser/lexer would be needed, so basically a totally different implementation.

[2016-06-21 03:06] Coeur commented on #56
It could be done with regex, but with multiple passes, which is not desired most of the time.

[2016-06-21 03:08] Coeur commented on #56
Bah... I did multiple passes already for CodeEscaping... so I guess I can do it for reference-style links.

Let me try to work on it for version 3.0.0.

[2016-07-11 12:58] invliD commented on #56
@Coeur What's your status with this feature? Need any help?

[2016-07-11 13:11] fegabe opened #57 "New Pod release with last commits"
Hi,

we're using this library for an appleTV app and pointing directly to the latest commit of the repo to be using the latest improvements like this: https://github.com/laptobbe/TSMarkdownParser/commit/01be140cb88d903b46d73cc883c93263cf128776
Are you planning to create a new Pod release?

Thanks

[2016-07-12 02:26] Coeur commented on #57
Yes, I'll release version #3 this weekend. Beware, it will have breaking changes.

[2016-07-12 02:26] Coeur commented on #56
Will release it this weekend.

[2016-07-12 06:39] fegabe commented on #57
Great thanks!
On Tue, 12 Jul 2016 at 04:26, Antoine Cœur <notifications@github.com> wrote:

[2016-07-14 16:47] YuriSolodkin opened #58 "Sometimes app crashes in TSMarkdownParser init"
Sometimes app crashes in TSMarkdownParser init:

[code]

From the code I can see that it is possible that it crashes in:

[code]

or

[code]

On stackoverflow there is a discussion re HelveticaNeue-Italic.
http://stackoverflow.com/questions/19527962/what-happened-to-helveticaneue-italic-on-ios-7-0-3

I can see these crashes on iOS 9.1.0 and even 9.3.1, but cannot replicate on my iPads or emulator

[2016-07-16 12:32] Coeur commented on #58
I'll accept a pull request, so you get credit for the fix. :)

[2016-07-20 09:57] YuriSolodkin commented on #58
Ok, thanks, I created a pull request.

[2016-08-18 10:59] phatmann commented on #50
This seems to be an issue with NSAttributedString. Applying the paragraph style for each bulleted line does not work. Instead, the style needs to be applied across all the bulleted lines. A workaround might be to use a separate attributed string for bulleted lists.

[2016-08-22 16:15] invliD commented on #56
@Coeur Any news?

[2016-08-23 01:10] Coeur commented on #56
I'm so sorry. As you noticed, I didn't work for a few months.

[2016-08-26 08:25] Sianay commented on #57
Hi @fegabe any update on this ?

[2016-08-26 09:32] fegabe commented on #57
I didn't try the last release. I was using the commit I pointed out and worked well

[2016-09-22 15:33] invliD commented on #56
@Coeur Did you make some progress? Could you publish your current version so I can finish it if you don't have the time?

[2016-10-20 13:09] Gujci opened #60 "Feature request: Github release with travis for Carthage"
Adding some configuration to the `.tavis.yml` like this [https://github.com/Carthage/Carthage#use-travis-ci-to-upload-your-tagged-prebuild-frameworks](url) would make this even better.

[2016-10-20 14:47] Coeur commented on #60
Nice. Will do. When? Maybe on Sunday, but don't want to give wrong hopes anymore. Finalizing version 3.0 should be my priority.

[2017-02-17 07:05] gentwo opened #62 "Link parsing conflicts with autodetection when the link text happens to be recognized as something to link as well"
Consider the following markdown text:

[code]
In the above case, it appears that auto-detection overrides the original link (which does correctly identify the URL as mailto://foo@bar.com with the text of the link ie (foo@bar.com).

[code]
therefore works.

Not sure how this should be fixed, but one thought is that if a link text already has a link associated with it, then don't override with autod

[2017-02-17 07:10] gentwo commented on #62
Some additional information. The rationale for my conclusion is as follows: Debugging this: it looks like for the above text, the following sections of `TSMarkdownParser.m` are both called, with the first one being called first (with the correct URL) and the second one being called later (with the link text).

--> explicit link with link text
[code]
--> Auto detection
[code]

[2017-02-17 07:26] gentwo commented on #62
Test to confirm the above:
[code]
NOTE: The last assert also fails, which was unexpected.

[2017-02-21 14:49] Coeur commented on #62
I didn't see assertion failures in your pull request.
Thank you for reporting the issue and fixing it. I'll make a new release in a few minutes.

[2017-02-21 14:49] #62 closed

[2017-04-05 21:45] uaremad commented on #44
**Replace**
 `NSURL* url = [NSURL URLWithString:link] ?: [NSURL URLWithString: [link stringByAddingPercentEscapesUsingEncoding:NSUTF8StringEncoding]];`

**With**
` NSCharacterSet *set = [NSCharacterSet URLHostAllowedCharacterSet];`
`NSURL *url = [NSURL URLWithString:link] ?: [NSURL URLWithString: [link stringByAddingPercentEncodingWithAllowedCharacters:set]];`

[2017-06-07 11:02] Coeur opened #66 "Feature request: compatibility with NSAttributedStringKey"
Swift 4 is using [NSAttributedStringKey](https://developer.apple.com/documentation/foundation/nsattributedstringkey) instead of String for attributes names, which causes some compatibility issues with TSMarkdownParser.

[2017-06-07 11:03] kyledold commented on #50
@Coeur Any progress on this issue? or workaround?

[2017-06-07 11:30] BobDG commented on #50
@kyledold @Coeur actually this works fine right now in my App if I simply set it for the listAttributes.
Like this:

NSMutableParagraphStyle *style = [NSMutableParagraphStyle new];
    style.headIndent = 28;
    NSDictionary *listAttributes = @{NSFontAttributeName:[UIFont fontWithName:kFontLatoRegular size:16.0f], NSForegroundColorAttributeName:[AppAppearance textDarkGray], NSParagraphStyleAttribu

[2017-06-07 12:24] kyledold commented on #50
So my issue was setting the NSParagraphStyleAttributeName attribute for the "listAttributes" property of the parser wasn't having any effect, even after trying @BobDG's example.

The only way I could get this to work was to set the NSParagraphStyleAttributeName attribute of the "defaultAttributes" property.

[2017-06-07 12:32] BobDG commented on #50
@kyledold hm strange, it works perfectly for me. Only for bullet lists unordered though, nut numbered lists because the regex doesn't take those into account.

[2017-06-07 12:34] kyledold commented on #50
@BobDG which version are you using? I've got v2.1.3

[2017-06-07 12:42] BobDG commented on #50
@kyledold me too.. what you can check is perhaps if the regex actually captures your lists by putting some logs at the right places?

[2017-06-09 23:40] khill25 commented on #50
I am also having this issue. Version 2.1.3. Things look great when applying the style to the whole string using defaultAttributes but using listAttributes doesn't seem to do anything once the string wraps.

I think this may be a mutable string bug though. I have experienced issues in the past trying to apply multiple paragraph styles to a attributed string.

Kind of a huge bummer because it makes

[2017-06-12 09:44] kyledold commented on #50
@khill25 @BobDG I found the only way to get NSParagraphStyleAttributeName set for list elements is to create your own version of the TSMarkdownParser object and then in the init method where you add all the parsing logic you need to replace the "addListParsingWithMaxLevel" method with the following:

    + (instancetype)standardParser {

      LURMarkDownParser *defaultParser = [self new];

[2017-06-12 09:54] BobDG commented on #50
@kyledold ok nice you got it working! If I look at the code I still don't understand why mine is working without any adaptations and that you need these changes. But I'm glad it works for you now :)

[2017-07-07 18:10] tsfischer opened #67 "Issue: Crash in MacOS 10.10"
The following code works on 10.11 - 10.13 but crashes in 10.10. Any thoughts?
[code]

I'm attaching a crash report
[com.jamfsoftware.selfservice.mac_issue_31_crash_403910d2cd4246e4b6b74e53054674a5_e9557cad5d0611e7811256847afe9799_0_v2.txt](https://github.com/laptobbe/TSMarkdownParser/files/1131905/com.jamfsoftware.selfservice.mac_issue_31_crash_403910d2cd4246e4b6b74e53054674a5_e9557cad5d0611e78112

[2017-12-20 11:02] afocsa commented on #58
Hi @Coeur
Any chances to merge the PR to fix this issue?
Thanks.

[2017-12-21 01:54] Coeur commented on #58
@afocsa , oh, thank you for reminding me... I had actually forgot about it, I'm really sorry.
This weekend!

[2018-02-16 15:40] tsfischer opened #69 "Crash reported parsing markdown"
We have had a significant number of crashes reported from the field via Crashlytics. The crash is:
Fatal Exception: NSInvalidArgumentException
*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]

and the call stack looks like:
Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x7fffc5cb72b3 (Missing)
1  libobjc.A

[2018-03-05 03:41] Coeur commented on #69
@tsfischer  Can you confirm that:
* it's macOS? (and not iOS/tvOS)
* it's TSMarkdownParser 2.1.3?
* it's Swift 4.0/Xcode 9.2?

Can you give more details about the value of `[NSAttributedStringKey.foregroundColor.rawValue : NSColor.descriptionTextColor()]`?

[2018-03-05 03:47] tsfischer commented on #69
Thanks much for your response. Since writing this post, I discovered that our customer was deleting all fonts from the /Library/Fonts folder and that was causing this crash. They are a publishing house and want to clear out this folder for copyright reasons.

For the short term, we told them to put fonts back until the crash goes away... but it would be nice if TSMarkdownParser wouldn't crash if i

[2018-03-05 03:53] Coeur commented on #69
I'll be working on TSMarkdownParser, so it's your chance. But I need a way to reproduce the issue. You're mentioning fonts, but the code you gave is about `foregroundColor` only. Also can you specify the macOS Deployment Target? Is it 10.9, 10.10, 10.11, 10.12 or 10.13?

[2018-03-05 04:50] Coeur commented on #69
I tried this:

[code]

And I got a correct print with no crash:

But we have font usage when dealing with:
* headerAttributes (i.e. "# hello")
* quoteAttributes (i.e. "> hello")
* monospaceAttributes (i.e. "`hello`")
* strongAttributes (i.e. "__hello__")
* emphasisAttributes (i.e. "_hello_")

So I tried:
[code]

But I still didn't get any crash on macOS High Sierra (10.13.3). Please help to reprod

[2018-03-05 04:57] Coeur commented on #69
Oh, OK, I start to understand. If you remove `HelveticaNeue-Italic` from the system, then this simple call will create a crash:

    let parser = TSMarkdownParser.standard()

And this will be caused by:

    _quoteAttributes = @[@{NSFontAttributeName: [UIFont fontWithName:@"HelveticaNeue-Italic" size:defaultSize]}];

I'll workaround this.

[2018-03-05 09:25] Coeur commented on #58
Fixed in 2.1.4.

[2018-03-05 09:25] #58 closed

[2018-03-05 09:25] Coeur commented on #69
Fixed in 2.1.4

[2018-03-05 09:25] #69 closed

[2018-03-05 09:40] Coeur commented on #67
Please test again in TSMarkdownParser 2.1.4: I've improved the compatibility with macOS 10.10 by disabling image parsing.

[2018-03-05 09:45] Coeur commented on #69
Actually a duplicate of #58

[2018-03-07 11:04] Coeur commented on #66
done: a16d931fb0459b0ea574fe4213809ef3c66f8d08

[2018-03-07 11:04] #66 closed

[2018-03-08 14:15] danmademe commented on #28
i haven't looked at this code for a couple years, and i'm no longer doing iOS dev.. sorry

[2018-03-08 17:58] #28 closed

[2018-03-27 06:41] Coeur commented on #44
@uaremad, thank you, but it's a bit more complex: URL is multi parts (host `/` path `?` query `#` anchor), so it needs various escapes. And default Apple character sets aren't even RFC compliant, so we have to consider extra workarounds like done by https://github.com/Alamofire/Alamofire/blob/ab07523ee93527e79e99037f1a2d596b30689016/Source/ParameterEncoding.swift#L196

[2018-04-14 01:31] philtre opened #70 "Incorrect handling of line breaks"
In Markdown, paragraphs are separated by *two* line breaks. Two spaces at the end of a line produces a newline (or rather a <br /> tag in HTML)
For example (I've replaced spaces with • for clarity):

    First•paragraph,•first•line.
    First•paragraph,•still•first•line.

    Second•paragraph,•first•line.••
    Second•paragraph,•second•line.

The expected output is:

The output produced by TSMarkd

[2018-07-16 13:20] elmodos opened #71 "Swift Compatibility: NSString * to NSAttributedStringKey *"
As of swift and objc `NSAttributedStringKey` differences, there it is typedef of NSString for Obj-C and struct not subclassed from String in swift.

Just declaring explicitly required type will allow to use it in swift wihtout issues.

[code]

[2018-12-06 21:17] onato opened #72 "The standard parser doesn't support nested lists."
The following markdown doesn't render correctly.

[code]

- 1
  - 1.1
- 2

<img width="467" alt="screen shot 2018-12-07 at 10 12 27 am" src="https://user-images.githubusercontent.com/107999/49612153-a33a7600-fa08-11e8-9b77-059670a4f67e.png">

The regular expression needs updating, so I'll submit a pull request.

[2018-12-13 20:32] klausbussekw commented on #70
Actually I find the attributed string output much more consistent with user expectations. Beside Swifty this is the only Markdown parser that can handle double breaks (others that I've tested always collapse hem to one).

[2018-12-14 09:13] klausbussekw opened #74 "Inject the bullet point character"
Right now the bullet point character is set to a fixed "•\t". I would suggest to use a public variable here so other bullet points could be used.

[2022-09-26 11:16] tychop opened #79 "SPM Release?"
Can you guys create a release with the Package.swift file in the tag?